<h1>BuiltInDirectives</h1>
<h4>---------------------------------------------------------------------------</h4>
<h6>ngClass</h6>
<p [ngClass]="isclass ?'para':'para1'">Hello Lamp Team,Welcome To Aspire</p>
<h4>---------------------------------------------------------------------------</h4>


<h4>---------------------------------------------------------------------------</h4>
<h6>ngStyle</h6>
<p [ngStyle]="{'background-color':'pink','color':'green'}">Hello Lamp Team,Welcome To Aspire</p>

<h4>---------------------------------------------------------------------------</h4>


<h4>---------------------------------------------------------------------------</h4>
<h6>ngIf</h6>
<p *ngIf="value">Hello Lamp Team,Welcome To Aspire</p>
<p *ngIf="condition; else elseblock">Hello Lamp Team,Welcome To Aspire</p>
<ng-template #elseblock>Hello Dotnet</ng-template>
<h4>---------------------------------------------------------------------------</h4>

<h4>---------------------------------------------------------------------------</h4>
<h6>ngfor</h6>
<p *ngFor="let item of items">{{item}}</p>
<h4>---------------------------------------------------------------------------</h4>

<!-- <h4>---------------------------------------------------------------------------</h4>
<h6>Ngswitch</h6>
<ul [ngSwitch]="mnc">
    <li *ngSwitchCase="'tcs'">TCS</li>
    <li *ngSwitchCase="'wipro'">WIPRO</li>
    <li *ngSwitchCase="'aspire'">Aspire</li>
    <li *ngSwitchDefault="'startups'">STARTUP</li>
</ul>
<h4>---------------------------------------------------------------------------</h4> -->
