<h1>Pipes Example </h1>
<h3>---------------------Date Pipes-----------------------------</h3>
<p>The birthday of mine is {{todaydate|date:'short'}}</p>
<p>The birthday of mine is {{todaydate|date:'medium'}}</p>
<p>The birthday of mine is {{todaydate|date:'long'}}</p>
<p>The birthday of mine is {{todaydate|date:'fullDate'}}</p>
<p>The birthday of mine is {{todaydate|date:'shortTime'}}</p>
<p>The birthday of mine is {{todaydate|date:'mm:ss'}}</p>


<p>---------------------------------------------------------------------------------</p>



<h3>---------------------Date Pipes-----------------------------</h3>
<p>The birthday of mine is {{birthday|date}}</p>
<p>The birthday of mine is {{birthday|date:'MM'}}</p>
<p>The birthday of mine is {{birthday|date|uppercase}}</p>

<p>---------------------------------------------------------------------------------</p>


<h3>---------------------Currency Pipes-----------------------------</h3>
<p>The amount  is {{amount|currency}}</p>
<p>The amount is {{amount|currency:'EUR'}}</p>
<p>The amount is {{amount|currency:'INR'}}</p>
<p>The amount is {{amount|currency:'EUR'}}</p>
<p>---------------------------------------------------------------------------------</p>

<h3>---------------------Uppercase Pipes-----------------------------</h3>
<p>Greetings {{string1|uppercase}}</p>
<p>---------------------------------------------------------------------------------</p>

<h3>---------------------Lowercase Pipes-----------------------------</h3>
<p>Greetings {{string2|lowercase}}</p>
<p>---------------------------------------------------------------------------------</p>


<h3>---------------------Percent Pipes-----------------------------</h3>
<p>Greetings {{number1|percent:'8.3-7'}}</p>
<p>---------------------------------------------------------------------------------</p>



<h3>---------------------Floating Pipes-----------------------------</h3>
<p>Greetings {{number2|number:'3.2-4'}}</p>
<p>---------------------------------------------------------------------------------</p>



